body{font-size:1.15em; line-height:1.25;}
::selection{background:#000; color:#fff;}
.wrap{padding:1em;}

a{color:inherit;} a:hover,a:focus,a:active{color:red;}
blockquote{margin-left:1em; border-left:.25em #808080 solid; padding-left:.75em;}
p{margin:1em 0;}

#pg-img{text-align:center;} @media only screen and (min-width:50em){#pg-img{text-align:right; margin-bottom:-5em;}}

#text{background:#efefef; background:linear-gradient(white,#efefef); background-attachment:fixed;} #text .wrap{padding:0; max-width:50em;}
.txt{color:#efefef; background:#101010;}
header.box{display:inline-block; margin-bottom:.75em; padding:.5em 1em .75em;}
header.box,main.box{max-width:50em;}
.box a{text-decoration-thickness:.1em; text-decoration-color:#808080;} .box a:hover,.box a:focus,.box a:active{text-decoration-color:#404040;}
.box h1{font-size:1.5em; font-weight:normal;}
#date{color:#bfbfbf;}
.box h2{font-size:2em; margin-top:.75em; font-weight:normal; color:#e3e3e3; line-height:1.15;}
.box h3{font-size:1.5em; color:#bfbfbf; margin-top:1em;}
.box h4{font-size:1.15em; color:#bfbfbf;}
.box h2+p,.box h3+p,.box h4+p,.box h2+ul,.box h3+ul,.box h4+ul{margin-top:.25em;}
.box ul{margin:1em 0 1em 1em;} .box li>ul{margin:0 0 .5em 1em;} .para li{margin:.5em 0;}

.dc{border:0; padding:.05em 1em; font-family:verdana,sans-serif; line-height:1.65; border-radius:.25em; margin:1em auto; background:#313338; color:#e0e1e5; max-width:35em;} .dc p,.dc ul{font-size:.85em;}
.dc-info{font-size:.85em; margin:1.5em 0 -1em;} .dc-info:first-of-type{margin-top:.75em;} .dc-info b{font-weight:normal; color:#f3f4f5;} .time{color:#82858f; font-size:.75em; margin-left:1em;}
.dc ul{list-style-type:none; text-indent:-.85em;} .dc p+ul{margin-top:-1em;} .dc ul li:before{content:"- ";}
.dc img{background:#1e1f22; color:#82858f;}

#doodl{text-align:center;}
figcaption{color:#dfdfdf; font-size:.85em; margin:-1em 0 0;}

footer{text-align:center; font-size:.85em; max-width:30em; margin:5em auto -1em; color:#808080;}
#back ::selection{background:0;} #back:hover,#back:focus,#back:active,.dark{opacity:.5;} .dark:hover,.dark:focus,.dark:active{opacity:1 !important;}
footer p:first-of-type{margin-top:.75em;}