---
layout: base
css: art
---
<div class="wrap">
	<div id="topback"><a href="{%include url.html%}/art" class="sb"><img src="{%include url.html%}/assets/img/artbook_32.png" alt="A sketchbook. (back to art index)" title="A sketchbook. (back to art index)"></a></div>
	<main>
		<figure id="a-img">
			<a href="{%include url.html%}/assets/img/art/{{page.date|date:'%F'}}{%if page.a-url%}{{page.a-url}}{%endif%}.png" target="_blank" id="aimg"><img src="{%include url.html%}/assets/img/art/{{page.date|date:'%F'}}{%if page.a-url%}{{page.a-url}}{%endif%}{%if page.big%}_med{%endif%}.png" alt="{{page.title}}"></a>
			<figcaption class="artwrap">{{page.desc|markdownify}}</figcaption>
		</figure>
		<div class="artwrap" id="a-info">
			<header class="box"><div><h1>“<b>{{page.title}}</b>”</h1><div id="a-date">&nbsp;– {{page.date|date:"%F"}}</div></div></header>
			<section class="box"><h2 class="x">Artist Commentary</h2>{{content}}</section>
		</div>
	</main>
	<nav>
		<div class="col"><a href="{%include url.html%}/art" class="sb"><img src="{%include url.html%}/assets/img/artbook_64.png" alt="A sketchbook. (back to art index)" title="A sketchbook. (back to art index)"></a></div>
		<div class="col"><section id="roco">{%for art in site.art%}<a href="{%include url.html%}/art/{{art.slug}}"><img src="{%include url.html%}/assets/img/art/{{art.date|date:"%F"}}_64.png" alt="{{art.title}}"></a>{%endfor%}</section></div>
	</nav>
	<footer><a href="{%include url.html%}/{%if page.back%}{{page.back}}{%else%}a-space{%endif%}" id="back"{%if page.dark%} class="dark"{%endif%}><img src="{%include url.html%}/assets/img/fork-mini.png" alt="back"></a></footer>
</div>