---
layout: base
css: hr
---
<header>
	<div id="navthing"><div class="wrap"><a href="{%include url.html%}" id="omo"><span class="omo">Omori</span></a>, but <span lang="hr">s hrvatski</span> <a href="{%include url.html%}/hrvatski">(?!)</a></div></div>
	
	<div id="h-info"><div class="wrap"><h1>{{page.h1}}</h1>
	<div>{{page.htxt|markdownify}}</div>
	</div></div>
</header><main><div class="wrap">
	{%for scrib in page.scribs%}<article{%if scrib.id%} id="{{scrib.id}}"{%endif%} class="{{scrib.typ}}">
		<h2>{{scrib.dt|date:"%Y/%m/%d"}}</h2>{%for pic in scrib.imgs%}
		<figure>
			<div class="imgs"><a href="{%include url.html%}/assets/img/hr/{{scrib.dt|date:"%Y-%m-%d"}}{%if pic.img%}{{pic.img}}{%endif%}.png"><img src="{%include url.html%}/assets/img/hr/{{scrib.dt|date:"%Y-%m-%d"}}{%if pic.img%}{{pic.img}}{%endif%}.png" alt="{{scrib.alt}}" title="{{scrib.alt}}"></a></div>{%if pic.tr-hr%}
			<figcaption><div class="tr-hr"><span class="flag">🇭🇷</span>{{pic.tr-hr|markdownify}}</div><div class="tr-en"><span class="flag">🇺🇸</span>{{pic.tr-en|markdownify}}</div></figcaption>
		{%endif%}</figure>{%endfor%}{%if scrib.an%}<hr>
		<div class="an">{{scrib.an|markdownify}}</div>{%endif%}
	</article>{%endfor%}{%if page.next%}<div id="nx"><a href="{%include url.html%}/hrvatski/{{page.nxt}}"><img src="{%include url.html%}/assets/img/hand.png" alt="next"></a></div>{%endif%}
</div></main><footer><div class="wrap">
	<a href="{%include url.html%}/hrvatski{%if page.back%}/{{page.back}}{%endif%}" id="back"><img src="{%include url.html%}/assets/img/fork-mini.png" alt="back"></a>
	<p><span class="omo">Omori © Omocat, LLC.</span></p>
	<p>hbala weeb, <span lang="hr">čovjek moj</span> weeb</p>
</div></footer>